:root {
    --left-padding: 100px;
    --top-padding: 50px;
}
html,body {
    background-color: aqua;
    max-width: 100%;
    overflow-x: hidden;
}

.pure-g {
    background-color: white;
}

h1 {
    width: 100%;
    text-align: center;
    color: blue;
    font-size: 90px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto
}

#choropleth_map {
    width: 500;
    height: 250;
    padding-left: var(--left-padding);
}

#line_graph {
    width: 500;
    height: 250;
    padding-left: var(--left-padding);
    padding-top: var(--top-padding);
}

#dot_map {
    width: 500;
    height: 250;
    padding-left: var(--left-padding);
    padding-top: var(--top-padding);
}

.chart {
    margin: 1px;
    padding: 1px;
    background: lightblue;
}

.chart_info {
    width: 480px;
    padding-left: var(--left-padding);
    padding-right: var(--left-padding);
    margin-left: 90px;
    background: lightpink;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

#right-text {
    padding-right: 200px;
}

#right-text-2 {
    width: 572px;
    height: 400px;
    margin-left: 100px;
}